
<form class="formulaireconnection">
	
	<div class="col-md-9">
		      <label for="moprenom1" class="form-label">Prenoms</label>
		      <input type="text" class="form-control" id="moprenom1"  placeholder="entrez votre prenom" required>
		      
		    </div><br>
		    <div class="col-md-9">
		      <label for="monom02" class="form-label">Nom</label>
		      <input type="text" class="form-control" id="monom02" placeholder="entrez votre nom" required>
		      
		    </div><br>
			<div class="col-md-12">
		     <input class="btn btn-primary boutonvalider" type="submit" value="Valider les données!" (click)='onValiderformulaire()'>
			   </div>
		 
</form>

