<div class="presentaion">
  <section class="publi">gora</section>
  <div class="accueil">
   <div  class="cart">
    <img src="unchk.jpeg" title="" alt="">
	<p>	L’Unité de la Formation continue (UFC) de l’Université numérique Cheikh Hamidou KANE (UN-CHK)
	porte à l’attention de l’ensemble des auditeurs nouvellement inscrits pour l’année académique 2023-2024,
	du démarrage de la première phase des activités pédagogiques.</p>
	</div>
	<div class="cart">
    <img src="batima.jpeg">
	<p>	L’Unité de la Formation continue (UFC) de l’Université numérique Cheikh Hamidou KANE (UN-CHK)
	porte à l’attention de l’ensemble des auditeurs nouvellement inscrits pour l’année académique 2023-2024,
	du démarrage de la première phase des activités pédagogiques.</p>
	</div>
	<div class="cart">
    <img src="semi.jpg">
	<p>	L’Unité de la Formation continue (UFC) de l’Université numérique Cheikh Hamidou KANE (UN-CHK)
	porte à l’attention de l’ensemble des auditeurs nouvellement inscrits pour l’année académique 2023-2024,
	du démarrage de la première phase des activités pédagogiques.</p>
	</div>
	<div  class="cart">
	    <img src="unchk.jpeg" title="" alt="" >
		<p>	L’Unité de la Formation continue (UFC) de l’Université numérique Cheikh Hamidou KANE (UN-CHK)
		porte à l’attention de l’ensemble des auditeurs nouvellement inscrits pour l’année académique 2023-2024,
		du démarrage de la première phase des activités pédagogiques.</p>
		</div>
		<div class="cart">
	    <img src="batima.jpeg">
		<p>	L’Unité de la Formation continue (UFC) de l’Université numérique Cheikh Hamidou KANE (UN-CHK)
		porte à l’attention de l’ensemble des auditeurs nouvellement inscrits pour l’année académique 2023-2024,
		du démarrage de la première phase des activités pédagogiques.</p>
		</div>
		<div class="cart">
	    <img src="semi.jpg" >
		<p>	L’Unité de la Formation continue (UFC) de l’Université numérique Cheikh Hamidou KANE (UN-CHK)
		porte à l’attention de l’ensemble des auditeurs nouvellement inscrits pour l’année académique 2023-2024,
		du démarrage de la première phase des activités pédagogiques.</p>
		</div>
		</div>
  
  <div class="communica">communication
   
    <div class="cartecommunique">
     <img src="com20.jpg"  class="imager">
     <div class="dattte">22 juin 2025</div>
    <div class="communi">concetion des diagrammes</div>
  </div>
    
    <div class="cartecommunique">
     <img src="com21.jpg"  class="imager">
     <div class="dattte">25 juin 2025</div>
    <div class="communi">creation du projet frontend</div>
    </div>
    
    <div class="cartecommunique">
     <img src="com22.jpg"  class="imager">
     <div class="dattte">30 juin 2025</div>
    <div class="communi">creation du projet backend</div>
    </div>
    
    <div class="cartecommunique">
     <img src="batima.jpeg"  class="imager">
     <div class="dattte">01 juillet 2025</div>
    <div class="communi">creation des entités et des controleurs</div>
    </div>
    
    <div class="cartecommunique">
     <img src="com23.jpg"  class="imager">
     <div class="dattte">02, 03 juillet 2025</div>
    <div class="communi">terminer le projet </div>
    </div>
    
    <div class="cartecommunique">
     <img src="seminaire.jpg"  class="imager">
     <div class="dattte">04 juillet 2025</div>
    <div class="communi">redaction du document technique</div>
    </div>
    
    <div class="cartecommunique">
    
    <div class="communi">voir tous...</div>
    