<div class="formulaireetudiant">
	<div class="titreformulaire"><h4>inscrivez-vous</h4></div>
	<form class="">
		
		    <div class="col-md-9">
		      <label for="moprenom1" class="form-label">Prenoms</label>
		      <input type="text" class="form-control" id="moprenom1"  placeholder="entrez votre prenom" required>
		     
		    </div><br>
		    <div class="col-md-9">
		      <label for="monom02" class="form-label">Nom</label>
		      <input type="text" class="form-control" id="monom02" placeholder="entrez votre nom" required>
		     
		    </div><br>

		    <div class="col-md-9">
		      <label for="nassance01" class="form-label">Date de Naisance</label>
		      <input type="date" class="form-control" id="Naisance01"  placeholder="entrez votre date naissance">
		     
		    </div><br>
		      <div class="col-md-9">
		      <label for="validationCustom04" class="form-label">Diplomes</label>
		      <select class="form-select" id="validationCustom04" >
		        <option selected  value="">Entrez votre diplome le plus élevé</option>
		        <option> Bac+1</option>
		        <option>Bac + 2</option>
		        <option>Licence</option>
		        <option>Master1</option>
		        <option>Master2</option>
		        <option>Doctorat</option>
		        <option>Autre</option>
		      </select>
		  </div><br>

		    <div class="col-md-9">
		      <label for="statut04" class="form-label">Statut</label>
		      <select class="form-select" id="statut04" re>
		        <option selected  value="">Entrez votre fonction</option>
		        <option>Formateur titulaire</option>
		        <option>Formateur associé</option>
		        <option>Tuteur</option>
		        <option>Administrateur</option>
		      </select>
		      <div class="invalid-feedback">
		        Please select a valid state.
		      </div>
		    </div><br>
		    
		    
		    <div class="col-md-9">
		      <label for="recrutement03" class="form-label">Date de recrutement</label>
		      <input type="date" class="form-control back" id="recrutement03" >
		      
		    </div>
		    
		    
		<div class="col-md-9">
		      <label for="recrutement03" class="form-label">Telephonet</label>
		      <input type="text" class="form-control back" id="recrutement03" >
		      
		    </div>

		    <div class="col-md-9">
		      <label for="recrutement03" class="form-label">Numero d'itentité nationale</label>
		      <input type="text" class="form-control back" id="recrutement03" >
		    </div>
		<div class="col-md-9">
		      <label for="validationCustom04" class="form-label">Diplomes</label>
		      <select class="form-select" id="validationCustom04" required>
		        <option selected  value="">Choisissez votre nationationalité</option>
		        <option> Sénégal</option>
		        <option>Mali</option>
		        <option>Gambie</option>
		        <option>Mouritanie</option>
		        <option>Guinnée</option>
		        <option>Egype</option>
		        <option>Maroc</option>
		      </select>

		 <br>
		    <div class="col-md-12">
		      <input class="btn btn-primary boutonvalider" type="submit" value="Valider les données!" (click)='onValidercon()'>
		    </div>
		
		
	
</div>
