
	<nav class="navbar navbar-expand-lg bg-body-tertiary navb">
	<div class="alignementnav">
		<div><img src="logo2.jpeg" title="logo" class="largeur"></div>
	  <div class="container-fluid profil">
		<img src="photo.png" title="" alt="" class="photo">
	    <a class="point" >Ibrahima gora Diouf</a>
	
	</div>
	   
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Formation</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Espace Etudiant</a>
	        </li>
	      </ul>
	    </div>
		
	  
	  
      <div class="menu2">
		<ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" routerLink="connection">Se connecter</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" routerLink="profile">S'inscrire</a>
		        </li>
		      </ul>
	  </div>
	  
	  <div class="imagealigne">
		<a href='https://web.facebook.com/gora.diouf.9404'><img src="facebook.png" title="" alt=""></a>
		<a href="mailto:gorra087@gmail.com"><img src="email.png" title="" alt=""></a>
	<a href='https://www.whatsapp.com/'>	<img src="watchap.jpeg" title="" alt="" routerLink=""></a>
		<img src="igor.png" title="" alt="">
		
	  </div>
   </div>  
 </nav>